{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
<h2>{{title}}
    <a href="{{ url_for('settings.subjects_add') }}" class="uk-icon-button" uk-icon="plus" uk-tooltip="Добавить предмет"></a>
</h2>
{% if not subjects %}
<p>В базе нет предметов. Добавьте предмет, нажав кнопку выше.</p>
{% else %}
<table class="uk-table uk-table-striped">
    <tr>
        <th>Предмет</th>
        <th>Отчётов</th>
        <th class="uk-text-center">Действия</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td><a href="{{ url_for('settings.subjects_reports', id=subject.id) }}">{{ subject.title }}</a></td>
        <td>{{ subject.reports|count }}</td>
        <td class="uk-text-center">
            <a href="{{ url_for('settings.subjects_edit', id=subject.id) }}" class="uk-icon-button" uk-tooltip="Изменить предмет <b>{{subject.title}}</b>" uk-icon="pencil"></a>
            <a href="{{ url_for('settings.subjects_delete', id=subject.id) }}" class="uk-icon-button uk-text-danger" uk-tooltip="Удалить предмет <b>{{subject.title}}</b>" uk-icon="trash"></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}