{% extends 'base.html' %}

{% block title %}{{title|striptags}} / {{super()}}{% endblock %}

{% block content %}
<h2>
{{ title.replace('"', '')|safe }}
</h2>
{% if subject.reports %}
<table class="uk-table uk-table-small">
    <tr>
        <th>Учебный год</th>
        <th>Период</th>
        <th>Преподаватель</th>
    </tr>
    {% for report in reports %}
    <tr>
        <td>{{ report.academic_year }}</td>
        <td>{{ report.term }}</td>
        <td>{{ report.teacher.short_name }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Нет сданных отчётов по этому предмету</p>
{% endif %}
{% endblock %}
