[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
python-docx = "*"
flask-migrate = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "*"
