{% extends 'base.html' %}

{% block title %}
{{title}} / {{ super() }}
{% endblock %}

{% block content %}
<form action="{{url_for('students.edit' ,id=student.id)}}" method="post" class="uk-form-stacked">
<div uk-grid>
    <div class="uk-width-2-3">
        <h2>{{title}}</h2>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-alert uk-alert-primary">
            <div class="uk-form-controls">
                {{ form.status_id(class='uk-select uk-border-rounded') }}
            </div>
        </div>
    </div>
</div>
    {{ form.csrf_token }}

    <!-- ФИО ребёнка -->
    <div class="uk-margin">
        <div class="uk-form-controls">
            {{ form.full_name(class='uk-input uk-form-large uk-border-rounded', placeholder='ФИО ребёнка') }}
            <span class="uk-text-small uk-text-muted">Полное имя ребёнка. <span
                    class="uk-text-bold uk-text-danger">Внимание!</span> Это поле используется во всех документах!</span>
        </div>
    </div>

    <div uk-grid>
        <!-- Дата рождения -->
        <div class="uk-width-1-4">
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.birth_date.label }}</label>
                <div class="uk-form-controls">
                    {{ form.birth_date(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted">Полная дата рождения ребёнка</span>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2">
            <!-- На какое отделение принимаем -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.department_id.label }}</label>
                <div class="uk-form-controls">
                    {{ form.department_id(class='uk-select uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted">Отделение, на которое поступает ребёнок</span>
                </div>
            </div>
        </div>
        <div class="uk-width-1-4">
            <!-- Флаг углубленного уровня -->
            <div class="uk-margin">
                <label class="uk-form-label">&nbsp;</label>
                <div class="uk-form-controls">
                    {{ form.is_deep_level.label }}
                    {{ form.is_deep_level(class='uk-checkbox uk-border-rounded') }}
                </div>
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-3" uk-grid>
        <div>
            <!-- Год поступления. По умолчанию - текущий -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.admission_year.label }}</label>
                <div class="uk-form-controls">
                    {{ form.admission_year(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted">Год поступления ребёнка в музыкальную школу. По
                        умолчанию &mdash; текущий год</span>
                </div>
            </div>
        </div>
        <div>
            <!-- Класс, в который поступает ребёнок. По умолчанию - 1 -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.class_level.label }}</label>
                <div class="uk-form-controls">
                    {{ form.class_level(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted">Класс, в который поступает ребёнок. По умолчанию
                        &mdash; 1</span>
                </div>
            </div>
        </div>
        <div>
            <!-- Срок обучения -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.study_years.label }}</label>
                <div class="uk-form-controls">
                    {{ form.study_years(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted">Срок обучения</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Класс преподавателя -->
    <div class="uk-margin">
        <label class="uk-form-label">{{ form.lead_teacher_id.label }}</label>
        <div class="uk-form-controls">
            {{ form.lead_teacher_id(class='uk-select uk-border-rounded') }}
            <span class="uk-text-small uk-text-muted">Какой преподаватель закреплён за учеником? <span
                    class="uk-text-danger">Внимание!</span> Эти данные используются при формировании протокола!</span>
        </div>
    </div>

    <!-- Контактный номер ребёнка -->
    <div class="uk-margin">
        <label class="uk-form-label">{{ form.contact_phone.label }}</label>
        <div class="uk-form-controls">
            {{ form.contact_phone(class='uk-input uk-border-rounded', placeholder='№ телефона в любом формате') }}
            <span class="uk-text-small uk-text-muted">Контактный номер ребёнка для связи</span>
        </div>
    </div>

    <!-- Адрес проживания -->
    <div class="uk-margin">
        <label class="uk-form-label">{{ form.address.label }}</label>
        <div class="uk-form-controls">
            {{ form.address(class='uk-input uk-border-rounded') }}
            <span class="uk-text-small uk-text-muted"></span>
        </div>
    </div>

    <h2>Сведения о родителях/законных представителях</h2>
    <!-- Мать -->
    <!-- Полное имя-->
    <div class="uk-margin">
        <label class="uk-form-label">{{ form.mother_full_name.label }}</label>
        <div class="uk-form-controls">
            {{ form.mother_full_name(class='uk-input uk-border-rounded') }}
            <span class="uk-text-small uk-text-muted"></span>
        </div>
    </div>

    <div class="uk-grid">
        <!-- Место работы -->
        <div class="uk-width-1-3">
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.mother_workplace.label }}</label>
                <div class="uk-form-controls">
                    {{ form.mother_workplace(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3">
            <!-- Должность -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.mother_occupation.label }}</label>
                <div class="uk-form-controls">
                    {{ form.mother_occupation(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>
        <div class="uk-width-1-3">
            <!-- Контактный телефон -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.mother_contact_phone.label }}</label>
                <div class="uk-form-controls">
                    {{ form.mother_contact_phone(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Отец -->
    <!-- Полное имя-->
    <div class="uk-margin">
        <label class="uk-form-label">{{ form.father_full_name.label }}</label>
        <div class="uk-form-controls">
            {{ form.father_full_name(class='uk-input uk-border-rounded') }}
            <span class="uk-text-small uk-text-muted"></span>
        </div>
    </div>
    <div class="uk-grid">

        <div class="uk-width-1-3">
            <!-- Место работы -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.father_workplace.label }}</label>
                <div class="uk-form-controls">
                    {{ form.father_workplace(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>

        <div class="uk-width-1-3">
            <!-- Должность -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.father_occupation.label }}</label>
                <div class="uk-form-controls">
                    {{ form.father_occupation(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>

        <div class="uk-width-1-3">
            <!-- Контактный телефон -->
            <div class="uk-margin">
                <label class="uk-form-label">{{ form.father_contact_phone.label }}</label>
                <div class="uk-form-controls">
                    {{ form.father_contact_phone(class='uk-input uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="uk-margin">
        {{ form.submit(class='uk-button uk-button-primary uk-border-rounded', value='Обновить данные') }}
    </div>
</form>
{% endblock %}
