{% extends "base.html" %}

{%block title %}{{title}} / {{ super() }} {% endblock %}

{% block content %}
<div class="uk-inline-clip">
        <h2 class="uk-header">{{ title }}
        <a href="{{ url_for('students.add') }}" class="uk-icon-button uk-border-circle uk-button-primary" uk-icon="plus" uk-tooltip="title: Добавить ученика; pos: bottom"></a>
        <a href="{{ url_for('students.get_all_title_pages') }}" uk-icon="file-text" class="uk-icon-button" uk-tooltip="title: Скачать титульные страницы для всех учеников; pos: bottom"></a>
        <a href="{{ url_for('settings.get_all_students') }}" class="uk-icon-button" uk-icon="download" uk-tooltip="title: Выгрузить полный список учеников; pos: bottom"></a>
        {% if is_leveling %}
        <a href="{{ url_for('students.do_level_up') }}" class="uk-icon-button uk-button-danger" uk-icon="bolt" uk-tooltip="title: Перевести/выпустить учеников; pos: bottom"></a>
        {% endif %}
        </h2>
</div>
        {% if not students %}
        <p>Нет учеников <a href="{{ url_for('students.add') }}"
                class="uk-button uk-button-default uk-border-pill uk-button-small">Добавить ученика</a></p>
        {% else %}
        <ul uk-tab>
            <li><a href="#">активные</a></li>
            <li><a href="#">выпущенные</a></li>
            <li><a href="#">отчисленные</a></li>
            <li><a href="#">в академе</a></li>
        </ul>
        
        <div class="uk-switcher">
            <div>
                <div>
                    <div uk-filter="target: .js-filter; animation: fade">
                        <table id="students-table" class="uk-table uk-table-hover uk-table-small uk-table-">
                            <caption>
                                <!-- Filter controls -->
                                <div class="uk-inline">
                                отделение:
                                <ul class="uk-subnav uk-subnav-pill">
                                    <li class="uk-active uk-borders-pill" uk-filter-control><a href="#">все</a></li>
                                    {% for dep in deps %}
                                    <li uk-filter-control=".dep-{{dep.id}}"><a href="#">{{ dep.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                </div>

                                <div class="uk-inline">
                                    класс:
                                    <ul class="uk-subnav uk-subnav-pill">
                                        <li class="uk-active uk-borders-pill" uk-filter-control><a href="#">все</a></li>
                                        {% for level in [1,2,3,4,5,6,7,8,9] %}
                                        <li uk-filter-control=".level-{{level}}"><a href="#">{{ level }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                               
                            </caption>
                            <thead>
                                <tr>
                                    <th class="uk-table-expand">ФИО ребёнка</th>
                                    <th>Приём</th>
                                    <th>Отделение</th>
                                    <th>Класс</th>
                                    <th>Преподаватель</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr class="js-filter">
                                    <td class="dep-{{student.department_id}} level-{{ student.class_level }}"><a href="{{ url_for('students.view', id=student.id) }}">{{ student.short_name }}</a></td>
                                    <td class="dep-{{student.department_id}} level-{{ student.class_level }}">{{ student.admission_year }}</td>
                                    <td class="dep-{{student.department_id}} level-{{ student.class_level }}"><a href="{{ url_for('settings.departments_view', id=student.department_id) }}">{{ student.department.title }}</a></td>
                                    <td class="uk-text-center dep-{{student.department_id}} level-{{ student.class_level }}"><span {%if student.is_deep_level %} class="uk-label uk-label-primary uk-text-bold"{% endif %}>{{ student.class_level }}/{{ student.study_years }}</span></td>
                                    <td class="dep-{{student.department_id}} level-{{ student.class_level }}"><a href="{{ url_for('teachers.view', id=student.lead_teacher_id) }}">{{ student.lead_teacher.short_name }}</a></td>
                                    <td class="uk-text-nowrap dep-{{student.department_id}} level-{{ student.class_level }}">
                                        <a href="{{ url_for('students.get_title_page', id=student.id) }}" class="uk-icon-button uk-text-secondary" uk-tooltip="title: скачать титульную страницу; pos: bottom;"><span uk-icon="file-text"></span></a>&nbsp;
                                        <a href="{{ url_for('students.edit', id=student.id) }}" class="uk-icon-button uk-text-primary" uk-tooltip="Редактировать"><span uk-icon="pencil"></span></a>&nbsp;
                                        <a href="{{ url_for('students.limbo', id=student.id) }}" class="uk-icon-button uk-text-warning" uk-tooltip="Перевести в академ"><span uk-icon="refresh"></span></a>&nbsp;
                                        <a href="{{ url_for('students.dismiss', id=student.id, s_id=4, reason='измените текст причины отчисления') }}" class="uk-icon-button uk-text-danger" uk-tooltip="Отчислить"><span uk-icon="sign-out"></span></a>&nbsp;
                                        {% if student.is_graduated and (not student.dismission_reason or student.dismission_reason == '') %}
                                        <a href="{{ url_for('students.graduate', id=student.id) }}" class="uk-icon-button uk-button-warning" uk-tooltip="Выпустить"><span uk-icon="flash"></span></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            
            </div>
            <div>
            {% if graduated %}
                <table class="uk-table uk-table-small">
                    <tr>
                        <th>Ученик</th>
                        <th>Приём</th>
                        <th>Отделение</th>
                        <th>Преподаватель</th>
                        <th>Срок</th>
                        <th>№ свид-ва</th>
                    </tr>
                    {% for s in graduated %}
                    <tr>
                        <td>{{ s.short_name }}</td>
                        <td>{{ s.admission_year }}</td>
                        <td>{{ s.department.title }}</td>
                        <td>{{ s.lead_teacher.short_name }}</td>
                        <td>{{ s.study_years }} л.</td>
                        <td>{{ s.cert_no }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Нет выпущенных учеников</p>
            {% endif %}
            </div>
            <div>
                {% if dismissed %}
                <table class="uk-table uk-table-small">
                    <tr>
                        <th>Ученик</th>
                        <th>Приём</th>
                        <th>Отделение</th>
                        <th>Преподаватель</th>
                        <th>Срок</th>
                        <th>Причина</th>
                    </tr>
                    {% for s in dismissed %}
                    <tr>
                        <td>{{ s.short_name }}</td>
                        <td>{{ s.admission_year }}</td>
                        <td>{{ s.department.title }}</td>
                        <td>{{ s.lead_teacher.short_name }}</td>
                        <td>{{ s.study_years }} л.</td>
                        <td>{{ s.dismission_reason }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Нет отчисленных учеников</p>
                {% endif %}
            </div>
            <div>
                {% if limbo %}
                <table class="uk-table uk-table-small">
                    <tr>
                        <th>Ученик</th>
                        <th>Приём</th>
                        <th>Отделение</th>
                        <th>Преподаватель</th>
                        <th>Класс</th>
                    </tr>
                    {% for s in limbo %}
                    <tr>
                        <td><a href="{{ url_for('students.view', id=s.id) }}">{{ s.short_name }}</a></td>
                        <td>{{ s.admission_year }}</td>
                        <td><a href="{{ url_for('settings.departments_view', id=s.department_id) }}">{{ s.department.title }}</a></td>
                        <td><a href="{{ url_for('teachers.view', id=s.lead_teacher_id) }}">{{ s.lead_teacher.short_name }}</a></td>
                        <td>{{ s.class_level }}/{{ s.study_years }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Нет учеников, находящихся в академическом отпуске</p>
                {% endif %}
            </div>
        </div>
        

        {% endif %}

{% endblock %}
