{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form action="{{ url_for('students.ensembles_add_member') }}" method="post">
    {{ form.csrf_token }}
    <div uk-grid>
        <div class="uk-width-1-2">

            <div class="uk-margin">
                <label class="uk-form-label">{{ form.ensemble_id.label }}</label>
                <div class="uk-form-controls">
                    {{ form.ensemble_id(class='uk-select uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>

        </div>
        <div class="uk-width-1-2">

            <div class="uk-margin">
                <label class="uk-form-label">{{ form.student_id.label }}</label>
                <div class="uk-form-controls">
                    {{ form.student_id(class='uk-select uk-border-rounded') }}
                    <span class="uk-text-small uk-text-muted"></span>
                </div>
            </div>

        </div>

        <div class="uk-margin">
            {{ form.submit(class='uk-button uk-button-primary uk-border-rounded') }}
        </div>


    </div>
</form>
{% endblock %}