{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form action="{{ url_for('settings.school_info') }}" method="post" class="uk-form-stacked">
{{ form.csrf_token() }}

<div class="uk-margin">
    <label class="uk-form-label">{{ form.full_title.label }}</label>
    <div class="uk-form-controls">
        {{ form.full_title(class='uk-input uk-border-rounded') }}
        <span class="uk-text-small uk-text-muted"></span>
    </div>
</div>

<div uk-grid>
    <div class="uk-width-1-3">
        <div class="uk-margin">
            <label class="uk-form-label">{{ form.short_title.label }}</label>
            <div class="uk-form-controls">
                {{ form.short_title(class='uk-input uk-border-rounded') }}
                <span class="uk-text-small uk-text-muted"></span>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-margin">
            <label class="uk-form-label">{{ form.region_id.label }}</label>
            <div class="uk-form-controls">
                {{ form.region_id(class='uk-select uk-border-rounded') }}
                <span class="uk-text-small uk-text-muted"></span>
            </div>
        </div>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-margin">
            <label class="uk-form-label">{{ form.methodist_id.label }}</label>
            <div class="uk-form-controls">
                {{ form.methodist_id(class='uk-select uk-border-rounded') }}
                <span class="uk-text-small uk-text-muted"></span>
            </div>
        </div>
    </div>
</div>

<div class="uk-margin">
    {{ form.submit(class='uk-button uk-button-primary uk-border-rounded') }}
</div>

</form>
{% endblock %}