{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
<h2>
    {{title}}
    <a href="{{ url_for('send_assembly') }}" class="uk-icon-button" uk-icon="plus"></a>
</h2>
<table class="uk-table uk-table-small uk-table-striped uk-table-hover">
    <tr>
        <th>Дата</th>
        <th>Тема</th>
        <th>Повестка</th>
        <th>Ответственный</th>
        <th>&nbsp;</th>
    </tr>
    {% for a in assemblies %}
    <tr>
        <td>{{ a.date.strftime('%d.%m.%Y') }}</td>
        <td>{{ a.title }}</td>
        <td>{{ a.description.replace('\r\n', '<br>')|safe }}</td>
        <td>{{ a.teacher.short_name }}</td>
        <td>
            <a href="#" class="uk-icon-button uk-text-primary" uk-icon="pencil" uk-tooltip="title: Изменить запись; pos: bottom"></a>
            <a href="#" class="uk-icon-button uk-text-danger" uk-icon="trash" uk-tooltip="title: Удалить запись; pos: bottom"></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
