{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
<h2>
    {{title}}
    <a href="{{ url_for('method.protocols_add') }}" class="uk-icon-button" uk-icon="plus"></a>
</h2>
<p>На этой странице &ndash; список протоколов заседаний методического объединения. Для упрощения процедуры скачайте предварительно заполненный протокол и затем загрузите его во время добавления протокола в систему:</p>
<ul>
    <li>начало учебного года и I четверти</li>
    <li>конец I четверти</li>
    <li>конец II четверти и I полугодия</li>
    <li>начало III четверти и II полугодия</li>
    <li>середина III четверти (результаты технического зачёта и утверждение программы на академический концерт)</li>
    <li>конец III четверти</li>
    <li>середина IV четверти (открытие набора на новый учебный год)</li>
    <li>конец IV четверти, II полугодия, всего учебного года</li>
</ul>
<table class="uk-table uk-table-striped uk-table-hover">
    <tr>
        <th>Номер</th>
        <th>Дата</th>
        <th>Ответственный</th>
        <th>Файл протокола</th>
        <th>Действия</th>
    </tr>
    {% for a in assemblies %}
    <tr>
        <td>{{ a.number }}</td>
        <td>{{ a.date.strftime('%d.%m.%Y') }}</td>
        <td>{{ a.secretary.short_name }}</td>
        <td>{% if a.protocol_file %}<a href="{{url_for('method.protocol_retrieve', id=a.id)}}">скачать</a>{% else %}отсутствует{% endif %}</td>
        <td>
            <a href="{{ url_for('method.protocol_view', id=a.id) }}" class="uk-icon-button uk-text-secondary" uk-icon="eye" uk-tooltip="title: Просмотреть протокол; pos: bottom"></a>
            {% if not a.protocol_file %}<a href="#" class="uk-icon-button uk-text-primary" uk-icon="upload" uk-tooltip="title: Загрузить протокол; pos: bottom"></a>{% endif %}
            <a href="#" class="uk-icon-button uk-text-danger" uk-icon="trash" uk-tooltip="title: Удалить протокол; pos: bottom"></a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
