{% extends 'base.html' %}

{% block title %}{{title}} / {{super()}}{% endblock %}

{% block content %}
    <h2>{{title}}
        <a href="{{ url_for('settings.departments_add') }}" class="uk-icon-button" uk-icon="plus" uk-tooltip="'title: Добавить отделение; pos: bottom"></a>
    </h2>
        <table class="uk-table uk-table-small uk-table-striped">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th colspan="5" class="uk-text-center">Отчёт по отделению</th>
                <th></th>
            </tr>
            <tr>
                <th>Отделение</th>
                <th>Программа</th>
                <th>Уч</th>
                <th class="uk-text-center">I</th>
                <th class="uk-text-center">II</th>
                <th class="uk-text-center">III</th>
                <th class="uk-text-center">IV</th>
                <th class="uk-text-center">Год</th>
                <th>&nbsp;</th>
            </tr>
            {% for dep in deps %}
            <tr>
                <td><a href="{{ url_for('settings.departments_view', id=dep.id) }}">{{ dep.title.capitalize() }}</a></td>
                <td>{{ dep.short_name }}</td>
                <td>{{ dep.active_count }}</td>
                <td class="uk-text-center uk-text-{% if dep_reports[dep.id][0] %}success{% else %}warning{% endif %}">●</td>
                <td class="uk-text-center uk-text-{% if dep_reports[dep.id][1] %}success{% else %}warning{% endif %}">●</td>
                <td class="uk-text-center uk-text-{% if dep_reports[dep.id][2] %}success{% else %}warning{% endif %}">●</td>
                <td class="uk-text-center uk-text-{% if dep_reports[dep.id][3] %}success{% else %}warning{% endif %}">●</td>
                <td class="uk-text-center uk-text-{% if dep_reports[dep.id][4] %}success{% else %}warning{% endif %}">●</td>
                <td>
                <a href="{{ url_for('settings.departments_edit', id=dep.id) }}" class="uk-icon-button" uk-icon="pencil" uk-tooltip="title: Редактировать отделение; pos: bottom"></a>
                <a href="{{ url_for('settings.department_delete', id=dep.id) }}" class="uk-icon-button" uk-tooltip="title: Удалить отделение; pos: bottom"><span uk-icon="trash" class="uk-text-danger"></span></a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                {% for t in range(1, 6) %}
                <td class="uk-text-center">{% if is_reportable[t] %}<a href="{{ url_for('settings.get_all_deps_report', term=t) }}" class="uk-icon-button " uk-icon="file-text" uk-tooltip="Выгрузить отчёт за четверть по всем отделениям"></a>{% else %}&mdash;{% endif %}</td>
                {% endfor %}
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="uk-align-right">Всего:</td>
                <td class="uk-text-bold">{{ total }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
{% endblock %}
